* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.main-div-order {
    position: relative;
    .contant-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        .header {
            .header-container {
                max-width: 950px;
                margin: 0 auto;
                @media (max-width: 1024px) {
                    padding: 0 40px;
                }
                @media (max-width: 576px) {
                    padding: 0 20px;
                }
                .header-div {
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(221, 221, 221, 0.3);
                    border-radius: 90px;
                    padding: 15px 46px 15px 40px;
                    margin-top: 50px;
                    @media (max-width: 576px) {
                        padding: 15px;
                        margin-top: 30px;
                    }
                    .header-div-flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .header-div-flex-logo {
                            width: 62px;
                            height: 38px;
                            @media (max-width: 1024px) {
                                width: 50px;
                                height: 30px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .header-div-flex-ancer {
                            display: flex;
                            align-items: center;
                            gap: 24px;
                            a {
                                text-decoration-line: none;
                                font-size: 16px;
                                color: rgba(255, 255, 255, 1);
                                font-weight: 400;
                                line-height: 21.82px;
                                &:hover {
                                    background: -webkit-linear-gradient(
                                        rgba(161, 108, 244, 1),
                                        rgba(255, 125, 167, 1),
                                        rgba(255, 171, 112, 1)
                                    );
                                    background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            @media (max-width: 710px) {
                                gap: 10px;
                                a {
                                    font-size: 12px;
                                }
                            }
                            @media (max-width: 576px) {
                                display: none;
                            }
                        }
                        .header-div-flex-menu {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            a {
                                display: flex;
                                align-items: center;
                            }
                            img {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .first-div-head {
            padding-top: 129px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1024px) {
                padding-top: 80px;
            }
            @media (max-width: 576px) {
                padding-top: 50px;
            }
            .first-div-head-main {
                .first-div-head-main-title {
                    @media (max-width: 576px) {
                        padding: 0 20px;
                    }
                    h1 {
                        font-size: 44px;
                        color: #ffffff;
                        font-weight: 700;
                        line-height: 65px;
                        text-align: center;
                        padding-bottom: 10px;
                        span {
                            padding-left: 15px;
                            background: -webkit-linear-gradient(
                                rgba(161, 108, 244, 1),
                                rgba(255, 125, 167, 1),
                                rgba(255, 171, 112, 1)
                            );
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        @media (max-width: 1024px) {
                            font-size: 32px;
                            line-height: 44px;
                        }
                        @media (max-width: 576px) {
                            font-size: 28px;
                            line-height: 30px;
                        }
                    }
                    p {
                        color: #dddddd;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        text-align: center;
                        max-width: 760px;
                        @media (max-width: 1024px) {
                            padding: 0 40px;
                        }
                        @media (max-width: 576px) {
                            padding: 0 20px;
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .authintication {
            padding: 80px 0 0 0;
            .container {
                max-width: 800px;
                margin: 0 auto;
                padding: 0 40px;
                @media (max-width: 576px) {
                    padding: 0 20px;
                }
                .authintication-box {
                    background: linear-gradient(rgba(22, 22, 24, 1), rgba(22, 22, 24, 0));
                    border: 1px solid rgba(225, 225, 225, 0.4);
                    border-radius: 14px;
                    padding: 60px;
                    .authintication-box-input {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .authintication-box-input-flex {
                            width: 680px;
                            display: flex;
                            gap: 40px;
                            .authintication-box-input-flex-input {
                                width: 100%;
                                input {
                                    width: calc(100% - 44px);
                                    height: 50px;
                                    padding: 0 22px;
                                    background-color: #222224;
                                    border: none;
                                    border-radius: 8px;
                                    color: #ffffff;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                ::placeholder {
                                    color: #ffffff;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 19.1px;
                                }
                            }
                            .authintication-box-input-flex-button {
                                display: flex;
                                align-items: center;
                                button {
                                    padding: 14px 43px;
                                    background: linear-gradient(
                                        rgba(161, 108, 244, 1),
                                        rgba(255, 125, 167, 1),
                                        rgba(255, 171, 112, 1)
                                    );
                                    font-size: 16px;
                                    color: #ffffff;
                                    font-weight: 700;
                                    line-height: 22px;
                                    text-align: left;
                                    border-radius: 6px;
                                    border: none;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    @media (max-width: 1024px) {
                        h2 {
                            font-size: 38px;
                        }
                    }
                    @media (max-width: 576px) {
                        padding: 40px;
                        h2 {
                            font-size: 30px;
                        }
                        .authintication-box-input {
                            .authintication-box-input-flex {
                                display: block;
                                input {
                                    width: 260px;
                                    margin-bottom: 20px;
                                }
                                .authintication-box-input-flex-button {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ord-nmb {
            padding: 85px 0 123px;
            .ord-nmb-lst-container {
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 40px;
                @media (max-width: 576px) {
                    padding: 0 20px;
                }
                .order-nmb-section-main {
                    display: block;
                    .order-number-list-div-main {
                        background: linear-gradient(
                            172.41deg,
                            rgba(255, 255, 255, 0.1) 6.27%,
                            rgba(255, 255, 255, 0) 94.53%
                        );
                        border: 1px solid #ffffff;
                        border-radius: 14px;
                        padding: 30px;
                        margin: 0 0 40px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media (max-width: 1024px) {
                            gap: 20px;
                        }
                        @media (max-width: 700px) {
                            justify-content: start;
                            gap: 20px;
                            flex-wrap: wrap;
                        }
                        @media (max-width: 576px) {
                            padding: 20px;
                            margin: 0 0 20px 0;
                        }
                        .ord-list-nmb-one {
                            display: flex;
                            align-items: center;
                            gap: 80px;
                            @media (max-width: 1024px) {
                                gap: 40px;
                            }
                            .ord-line-inner-frst-box {
                                text-align: left;
                                h1 {
                                    color: #959595;
                                    font-size: 14px;
                                    font-weight: 300;
                                    margin: 0 0 6px 0;
                                }
                                p {
                                    color: #ffffff;
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                                @media (max-width: 576px) {
                                    h1 {
                                        font-size: 12px;
                                    }
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        .ord-list-nmb-two {
                            display: flex;
                            align-items: center;
                            gap: 80px;
                            @media (max-width: 1024px) {
                                gap: 40px;
                            }
                            .ord-line-inner-frst-box {
                                text-align: left;
                                h1 {
                                    color: #959595;
                                    font-size: 14px;
                                    font-weight: 300;
                                    margin: 0 0 6px 0;
                                }
                                p {
                                    color: #ffffff;
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                                @media (max-width: 576px) {
                                    h1 {
                                        font-size: 12px;
                                    }
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            padding: 80px 0 0 0;
            background-color: #000000;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            @media (max-width: 1024px) {
                padding: 40px 0 0 0;
            }
            @media (max-width: 576px) {
                padding: 40px 0 0 0;
            }
            .footer-container {
                max-width: 1200px;
                margin: 0 auto;
                .footer-div1 {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 0 40px;
                    @media (max-width: 576px) {
                        padding: 0 20px;
                    }
                    .footer-div1-img {
                        img {
                            width: 172px;
                            height: 105px;
                        }
                        @media (max-width: 1090px) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        @media (max-width: 576px) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 120px;
                                height: 100%;
                            }
                        }
                    }
                    .footer-div1-flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 30px 0 40px 0;
                        @media (max-width: 1090px) {
                            display: block;
                            padding: 20px 0;
                        }
                        @media (max-width: 576px) {
                            display: block;
                            padding: 20px 0;
                        }
                        .footer-div1-flex-ancer {
                            display: flex;
                            align-items: center;
                            gap: 60px;
                            a {
                                text-decoration-line: none;
                                font-size: 16px;
                                color: #ffffff;
                                font-weight: 700;
                                line-height: 22px;
                                text-transform: uppercase;
                                text-align: center;
                            }
                            @media (max-width: 1120px) {
                                gap: 30px;
                            }
                            @media (max-width: 1090px) {
                                justify-content: center;
                            }
                            @media (max-width: 700px) {
                                gap: 20px;
                            }
                            @media (max-width: 576px) {
                                display: block;
                                text-align: center;
                                a {
                                    display: block;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                        .footer-div1-flex-input-main {
                            .footer-div1-flex-input {
                                position: relative;
                                width: 450px;
                                input {
                                    width: calc(450px - 24px);
                                    border-radius: 6px;
                                    padding: 14px 0 14px 24px;
                                    border: none;
                                    color: #ffffff;
                                    background-color: #2a2a2c;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                ::placeholder {
                                    font-size: 14px;
                                    color: #ffffff;
                                    font-weight: 400;
                                    line-height: 22px;
                                }
                                .footer-div1-flex-button {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    display: flex;
                                    justify-content: flex-end;
                                    button {
                                        width: 140px;
                                        height: 46px;
                                        background: linear-gradient(
                                            rgba(161, 108, 244, 1),
                                            rgba(255, 125, 167, 1),
                                            rgba(255, 171, 112, 1)
                                        );
                                        border-radius: 6px;
                                        border: none;
                                        font-size: 16px;
                                        color: #ffffff;
                                        font-weight: 700;
                                        line-height: 22px;
                                        cursor: pointer;
                                    }
                                    @media (max-width: 365px) {
                                        position: static;
                                        justify-content: center;
                                        padding-top: 20px;
                                    }
                                }
                                @media (max-width: 1090px) {
                                    padding: 20px 0;
                                    .footer-div1-flex-button {
                                        top: 20px;
                                    }
                                }
                                @media (max-width: 576px) {
                                    width: 325px;
                                    input {
                                        width: calc(325px - 24px);
                                    }
                                }
                                @media (max-width: 365px) {
                                    width: 100%;
                                    input {
                                        width: calc(100% - 24px);
                                    }
                                }
                            }
                            @media (max-width: 1090px) {
                                padding: 0 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            @media (max-width: 576px) {
                                padding: 0 20px;
                            }
                        }
                    }
                }
                .footer-div2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 29px 40px 40px 40px;
                    @media (max-width: 576px) {
                        padding: 20px;
                    }
                    .footer-div2-copyright {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        p {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                            color: #ffffff;
                        }
                    }
                    .footer-div2-icon {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                    }
                }
            }
        }
    }
    .background-div {
        position: relative;
        .background-div-parent {
            .background-div-image {
                background-color: black;
                background-image: url("../../assets/images/contactUs/background.png");
                height: 950px;
                width: 100%;
                background-repeat: no-repeat;
                @media (max-width: 700px) {
                    height: 1000px;
                }
            }
        }
    }
}
