* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
.first-div {
    position: relative;
    background-color: #000000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    .first-div-contant {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 99;
        .header {
            .header-container {
                max-width: 950px;
                margin: 0 auto;
                @media (max-width: 1024px) {
                    padding: 0 40px;
                }
                @media (max-width: 576px) {
                    padding: 0 20px;
                }
                .header-div {
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(221, 221, 221, 0.3);
                    border-radius: 90px;
                    padding: 15px 46px 15px 40px;
                    margin-top: 50px;
                    @media (max-width: 576px) {
                        padding: 15px;
                        margin-top: 30px;
                    }
                    .header-div-flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .header-div-flex-logo {
                            cursor: pointer;
                            width: 62px;
                            height: 38px;
                            @media (max-width: 1024px) {
                                width: 50px;
                                height: 30px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .header-div-flex-ancer {
                            display: flex;
                            align-items: center;
                            gap: 24px;
                            a {
                                text-decoration-line: none;
                                font-size: 16px;
                                color: rgba(255, 255, 255, 1);
                                font-weight: 400;
                                line-height: 21.82px;
                                &:hover {
                                    background: -webkit-linear-gradient(
                                        rgba(161, 108, 244, 1),
                                        rgba(255, 125, 167, 1),
                                        rgba(255, 171, 112, 1)
                                    );
                                    background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            @media (max-width: 710px) {
                                gap: 10px;
                                a {
                                    font-size: 12px;
                                }
                            }
                            @media (max-width: 576px) {
                                display: none;
                            }
                        }
                        .header-div-flex-lock {
                            cursor: pointer;
                            width: 38px;
                            height: 38px;
                            position: relative;
                            @media (max-width: 576px) {
                                width: 30px;
                                height: 30px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            .header-div-flex-lock-img {
                                position: absolute;
                                top: 9px;
                                left: 13px;
                                @media (max-width: 576px) {
                                    top: 6px;
                                    left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .first-div-head {
            padding-top: 129px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1024px) {
                padding-top: 80px;
            }
            @media (max-width: 576px) {
                padding-top: 50px;
            }
            .first-div-head-main {
                .first-div-head-main-title {
                    @media (max-width: 576px) {
                        padding: 0 20px;
                    }
                    h1 {
                        font-size: 44px;
                        color: #ffffff;
                        font-weight: 700;
                        line-height: 65px;
                        text-align: center;
                        span {
                            background: -webkit-linear-gradient(
                                rgba(161, 108, 244, 1),
                                rgba(255, 125, 167, 1),
                                rgba(255, 171, 112, 1)
                            );
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        @media (max-width: 1024px) {
                            font-size: 32px;
                            line-height: 44px;
                        }
                        @media (max-width: 576px) {
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                }
                .first-div-head-main-red {
                    padding-top: 154px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    @media (max-width: 1024px) {
                        padding-top: 120px;
                        img {
                            width: 450px;
                            height: 100%;
                        }
                    }
                    @media (max-width: 576px) {
                        padding-top: 70px;
                        img {
                            width: 300px;
                        }
                    }
                    .first-div-head-main-red-line {
                        position: absolute;
                        top: 245px;
                        left: -8px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        @media (max-width: 1024px) {
                            top: 175px;
                        }
                        @media (max-width: 576px) {
                            top: 105px;
                        }
                    }
                }
            }
        }
    }
    .first-div-frame {
        background-image: url("../../assets/images/home/Frame.png");
        width: 100%;
        height: 387px;
        @media (max-width: 1024px) {
            height: 300px;
        }
        @media (max-width: 576px) {
            height: 180px;
        }
        .first-div-frame-ellipse {
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 445px;
                height: 412px;
                @media (max-width: 1024px) {
                    width: 390px;
                }
                @media (max-width: 410px) {
                    width: 100%;
                }
            }
        }
    }
    .first-div-frame2 {
        background-image: url("../../assets/images/home/Frame2.png");
        width: 100%;
        height: 452px;
        @media (max-width: 1024px) {
            height: 320px;
        }
        @media (max-width: 576px) {
            height: 200px;
        }
    }
    .first-div-frame2-moon-main {
        position: absolute;
        bottom: 0;
        width: 100%;
        .first-div-frame2-moon-main-relative {
            position: relative;
            .first-div-frame2-moon1 {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                @media (max-width: 1115px) {
                    img {
                        width: 100%;
                    }
                }
                @media (max-width: 1024px) {
                    img {
                        width: 760px;
                    }
                }
                @media (max-width: 775px) {
                    img {
                        width: 100%;
                    }
                }
                @media (max-width: 576px) {
                    img {
                        width: 390px;
                    }
                }
                @media (max-width: 410px) {
                    img {
                        width: 100%;
                    }
                }
            }
            .first-div-frame2-moon2 {
                position: absolute;
                bottom: 0;
                right: 35px;
                width: 100%;
                display: flex;
                justify-content: center;
                @media (max-width: 576px) {
                    right: 0;
                }
                img {
                    width: 905px;
                    height: 322px;
                    @media (max-width: 1024px) {
                        width: 640px;
                        height: 250px;
                    }
                    @media (max-width: 590px) {
                        width: 260px;
                        height: 110px;
                    }
                    @media (max-width: 576px) {
                        width: 260px;
                        height: 110px;
                    }
                }
            }
            .first-div-frame2-cloud1-main {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                position: absolute;
                bottom: 0;
                width: 100%;
                .first-div-frame2-cloud1 {
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                .first-div-frame2-cloud2 {
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.second-div-authintication {
    position: relative;
    .authintication {
        width: 100%;
        position: absolute;
        z-index: 99;
        background-color: #000000;
        .container {
            max-width: 1080px;
            margin: 0 auto;
            padding: 0 40px;
            @media (max-width: 576px) {
                padding: 0 20px;
            }
            .authintication-box {
                background: linear-gradient(rgba(22, 22, 24, 1), rgba(22, 22, 24, 0));
                border: 1px solid rgba(225, 225, 225, 0.4);
                border-radius: 14px;
                margin-top: -35px;
                padding: 37px 0 88px 0;
                h2 {
                    font-size: 44px;
                    font-weight: 700;
                    line-height: 65px;
                    text-align: center;
                    background: -webkit-linear-gradient(
                        rgba(161, 108, 244, 1),
                        rgba(255, 125, 167, 1),
                        rgba(255, 171, 112, 1)
                    );
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .authintication-box-input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 40px;
                    .authintication-box-input-flex {
                        width: 680px;
                        display: flex;
                        gap: 40px;
                        .authintication-box-input-flex-input {
                            width: 100%;
                            input {
                                width: calc(100% - 44px);
                                padding: 22px;
                                background-color: #222224;
                                border: none;
                                border-radius: 8px;
                                color: #ffffff;
                                appearance: none;
                                &:focus {
                                    outline: none;
                                }
                            }
                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            ::placeholder {
                                color: #ffffff;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 19.1px;
                            }
                        }
                        .authintication-box-input-flex-button {
                            display: flex;
                            align-items: center;
                            button {
                                padding: 14px 43px;
                                background: linear-gradient(
                                    rgba(161, 108, 244, 1),
                                    rgba(255, 125, 167, 1),
                                    rgba(255, 171, 112, 1)
                                );
                                font-size: 16px;
                                color: #ffffff;
                                font-weight: 700;
                                line-height: 22px;
                                text-align: left;
                                border-radius: 6px;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
                @media (max-width: 1024px) {
                    padding: 30px 40px 70px 40px;
                    h2 {
                        font-size: 38px;
                    }
                }
                @media (max-width: 576px) {
                    margin-top: 30px;
                    padding: 20px 20px 50px 20px;
                    h2 {
                        font-size: 30px;
                    }
                    .authintication-box-input {
                        padding-top: 20px;
                        .authintication-box-input-flex {
                            display: block;
                            input {
                                width: 260px;
                                margin-bottom: 20px;
                            }
                            .authintication-box-input-flex-button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.second-div-main {
    padding-top: 247px;
    @media (max-width: 1024px) {
        padding-top: 230px;
    }
}
.product-div {
    background-color: #000000;
    position: relative;
    padding: 130px 0 0 0;
    .product-div-light {
        position: absolute;
        top: 106px;
        right: 0;
    }
    .product-div-light2 {
        position: absolute;
        top: 974px;
        left: 0;
        img {
            height: 1050px;
            @media (max-width: 576px) {
                width: 300px;
            }
        }
    }
    .container2 {
        max-width: 1180px;
        margin: 0 auto;
        .product-div-light-title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 82px 0;
            .product-div-light-title-head {
                h2 {
                    font-size: 44px;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 65px;
                    text-align: center;
                    padding-bottom: 10px;
                    span {
                        padding-left: 12px;
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 65px;
                        background: -webkit-linear-gradient(
                            rgba(161, 108, 244, 1),
                            rgba(255, 125, 167, 1),
                            rgba(255, 171, 112, 1)
                        );
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    font-size: 18px;
                    color: #dddddd;
                    font-weight: 400;
                    line-height: 24.55px;
                    text-align: center;
                }
                @media (max-width: 1024px) {
                    h2 {
                        font-size: 38px;
                        span {
                            font-size: 38px;
                        }
                    }
                    p {
                        padding: 0 40px;
                    }
                }
                @media (max-width: 576px) {
                    h2 {
                        font-size: 28px;
                        span {
                            font-size: 28px;
                        }
                    }
                    p {
                        padding: 0 20px;
                    }
                }
            }
        }
        .product-div-light-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 80px;
            padding: 0 0 65px 0;
            .product-div-light-grid-box {
                background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
                border-radius: 12px;
                height: 340px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                @media (max-width: 1024px) {
                    height: auto;
                    padding: 20px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                @media (max-width: 576px) {
                    max-width: 300px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            @media (max-width: 1024px) {
                padding: 0 40px;
                gap: 30px;
            }
            @media (max-width: 576px) {
                padding: 0 20px;
                grid-template-columns: repeat(1, 1fr);
                gap: 50px;
                justify-items: center;
            }
        }
    }
    .features {
        padding: 130px 0;
        @media (max-width: 1024px) {
            padding: 100px 0;
        }
        .container3 {
            max-width: 922px;
            margin: 0 auto;
            .features-div-light-title {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 80px 0;
                .features-div-light-title-head {
                    h2 {
                        font-size: 44px;
                        color: #ffffff;
                        font-weight: 700;
                        line-height: 65px;
                        text-align: center;
                        padding-bottom: 10px;
                        span {
                            padding-left: 12px;
                            font-size: 44px;
                            font-weight: 700;
                            line-height: 65px;
                            background: -webkit-linear-gradient(
                                rgba(161, 108, 244, 1),
                                rgba(255, 125, 167, 1),
                                rgba(255, 171, 112, 1)
                            );
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    p {
                        font-size: 16px;
                        color: #dddddd;
                        font-weight: 400;
                        line-height: 24.55px;
                        text-align: center;
                        max-width: 768px;
                    }
                    @media (max-width: 1024px) {
                        h2 {
                            font-size: 38px;
                            span {
                                font-size: 38px;
                                cursor: pointer;
                            }
                        }
                        p {
                            padding: 0 40px;
                        }
                    }
                    @media (max-width: 576px) {
                        h2 {
                            font-size: 28px;
                            span {
                                font-size: 28px;
                            }
                        }
                        p {
                            padding: 0 20px;
                        }
                    }
                }
            }
            .features-div-light-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 50px;
                @media (max-width: 1024px) {
                    gap: 30px;
                    padding: 0 40px;
                }
                @media (max-width: 576px) {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 20px;
                }
                .features-div-light-grid-box {
                    background: linear-gradient(
                        rgba(255, 255, 255, 0.1),
                        rgba(153, 153, 153, 0.1),
                        rgba(153, 153, 153, 0)
                    );
                    border: 2px solid rgba(255, 255, 255, 0.4);
                    border-radius: 7px;
                    padding: 22px;
                    @media (max-width: 1024px) {
                        padding: 15px;
                    }
                    @media (max-width: 576px) {
                        padding: 20px;
                    }
                    .features-div-light-grid-box-vector {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        background: linear-gradient(
                            rgba(161, 108, 244, 0.5),
                            rgba(255, 125, 167, 0.5),
                            rgba(255, 171, 112, 0.5)
                        );
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 16px;
                    }
                    h4 {
                        font-size: 18px;
                        color: #ffffff;
                        font-weight: 700;
                        line-height: 24.55px;
                        padding-bottom: 5px;
                    }
                    p {
                        font-size: 14px;
                        color: #dddddd;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                    }
                }
            }
        }
    }
    .aboutus {
        padding: 0 0 120px 0;
        .aboutus-div-light-title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 80px 0;
            .aboutus-div-light-title-head {
                h2 {
                    font-size: 44px;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 65px;
                    text-align: center;
                    padding-bottom: 10px;
                    span {
                        padding-right: 12px;
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 65px;
                        background: -webkit-linear-gradient(
                            rgba(161, 108, 244, 1),
                            rgba(255, 125, 167, 1),
                            rgba(255, 171, 112, 1)
                        );
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                p {
                    font-size: 16px;
                    color: #dddddd;
                    font-weight: 400;
                    line-height: 24.55px;
                    text-align: center;
                    max-width: 910px;
                }
                @media (max-width: 1024px) {
                    h2 {
                        font-size: 38px;
                        span {
                            font-size: 38px;
                        }
                    }
                    p {
                        padding: 0 40px;
                    }
                }
                @media (max-width: 576px) {
                    h2 {
                        font-size: 28px;
                        span {
                            font-size: 28px;
                        }
                    }
                    p {
                        padding: 0 20px;
                    }
                }
            }
        }
        .aboutus-div-light-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 24px;
            overflow: auto;
            .aboutus-div-light-grid-box {
                height: 292px;
                width: 292px;
                border-radius: 14px;
                background: linear-gradient(
                    rgba(161, 108, 244, 0.5),
                    rgba(255, 125, 167, 0.5),
                    rgba(255, 171, 112, 0.5)
                );
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.footer {
    padding: 80px 0 0 0;
    background-color: #000000;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    @media (max-width: 1024px) {
        padding: 40px 0 0 0;
    }
    @media (max-width: 576px) {
        padding: 40px 0 0 0;
    }
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        .footer-div1 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0 40px;
            @media (max-width: 576px) {
                padding: 0 20px;
            }
            .footer-div1-img {
                img {
                    width: 172px;
                    height: 105px;
                }
                @media (max-width: 1090px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width: 576px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 120px;
                        height: 100%;
                    }
                }
            }
            .footer-div1-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 30px 0 40px 0;
                @media (max-width: 1090px) {
                    display: block;
                    padding: 20px 0;
                }
                @media (max-width: 576px) {
                    display: block;
                    padding: 20px 0;
                }
                .footer-div1-flex-ancer {
                    display: flex;
                    align-items: center;
                    gap: 60px;
                    a {
                        text-decoration-line: none;
                        font-size: 16px;
                        color: #ffffff;
                        font-weight: 700;
                        line-height: 22px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    @media (max-width: 1120px) {
                        gap: 30px;
                    }
                    @media (max-width: 1090px) {
                        justify-content: center;
                    }
                    @media (max-width: 700px) {
                        gap: 20px;
                    }
                    @media (max-width: 576px) {
                        display: block;
                        text-align: center;
                        a {
                            display: block;
                            padding-bottom: 10px;
                        }
                    }
                }
                .footer-div1-flex-input-main {
                    .footer-div1-flex-input {
                        position: relative;
                        width: 450px;
                        input {
                            width: calc(450px - 24px);
                            border-radius: 6px;
                            padding: 14px 0 14px 24px;
                            border: none;
                            color: #ffffff;
                            background-color: #2a2a2c;
                            &:focus {
                                outline: none;
                            }
                        }
                        ::placeholder {
                            font-size: 14px;
                            color: #ffffff;
                            font-weight: 400;
                            line-height: 22px;
                        }
                        .footer-div1-flex-button {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: flex;
                            justify-content: flex-end;
                            button {
                                width: 140px;
                                height: 46px;
                                background: linear-gradient(
                                    rgba(161, 108, 244, 1),
                                    rgba(255, 125, 167, 1),
                                    rgba(255, 171, 112, 1)
                                );
                                border-radius: 6px;
                                border: none;
                                font-size: 16px;
                                color: #ffffff;
                                font-weight: 700;
                                line-height: 22px;
                                cursor: pointer;
                            }
                            @media (max-width: 365px) {
                                position: static;
                                justify-content: center;
                                padding-top: 20px;
                            }
                        }
                        @media (max-width: 1090px) {
                            padding: 20px 0;
                            .footer-div1-flex-button {
                                top: 20px;
                            }
                        }
                        @media (max-width: 576px) {
                            width: 325px;
                            input {
                                width: calc(325px - 24px);
                            }
                        }
                        @media (max-width: 365px) {
                            width: 100%;
                            input {
                                width: calc(100% - 24px);
                            }
                        }
                    }
                    @media (max-width: 1090px) {
                        padding: 0 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    @media (max-width: 576px) {
                        padding: 0 20px;
                    }
                }
            }
        }
        .footer-div2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 29px 40px 40px 40px;
            @media (max-width: 576px) {
                padding: 20px;
            }
            .footer-div2-copyright {
                display: flex;
                align-items: center;
                gap: 5px;
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    color: #ffffff;
                }
            }
            .footer-div2-icon {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}
